.todo-item{
  border-bottom: 1px solid #eee;
  padding: 10px 0 10px 30px;
  cursor: pointer;
  position: relative;
  &::before{
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #eee;
  }
  &.todo-item-completed{
    color: #d8d8d8;
    text-decoration: line-through;
    border-bottom: 1px solid #eee;
    &::after{
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #cdeacd;
    }
  }
}