.home-page{
  height: 100%;
  width: 100%;
  .home-title{
    text-align: center;
  }
  .home-layout{
    display: flex;
    justify-content: space-between;
  }
  .layout{
    position: relative;
    min-height: 100%;
  }
  .header{
    // border-bottom: 1px solid #000;
    box-shadow: 0 2px 8px #f0f1f2;
    padding: 15px 0;
  }
  .navigator{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    box-shadow: 0 2px 8px #f0f1f2;
    min-height: 100%;
    border-right: 1px solid #e8e8e8;
    li{
      width: 100%;
      list-style: none;
      height: 40px;
      line-height: 40px;
      position: relative;
      cursor: pointer;
      padding: 0 15px;
      border-bottom: 1px solid #eee;
    }
    a{
      // margin: 0 15px;
      color: #000;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
    }
    .router-active{
      color: #4fc08d;
      font-weight: 700;
      &:before {
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        content: "";
        width: 4px;
        height: 40px;
        background-color: #4fc08d;
      }
    }
  }
  .router-render-area{
    padding: 15px;
    margin-left: 120px;
  }
}