.iframe-page{
  display: flex;
  justify-content: space-between;
}
.iframe-render{
  width: 50%;
  border: 1px solid #999;
  margin: 0 2px;
  padding: 20px;
  .render-area{
    margin: 15px 0;
    border-bottom: 1px solid #999;
    .msg-item{
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      h6{
        font-size: 16px;
        color: rgb(72, 72, 72)
      }
      span{
        color: #999;
        display: inline-block;
        width: 35%;
      }
    }
  }
}
.iframe-range{
  width: 50%;
  border: 1px solid #999;
  margin: 0 2px;
  padding: 20px;
}
